* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.posts-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 4;
}

#container {
  display: flex;
  flex-direction: row;
}
