.component-navbar-navbar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu';
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  width: 900px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}

.component-navbar-option {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
  border-bottom: 5px solid #8ec6c5;
}

.component-navbar-option:hover {
  border-bottom: 5px solid #6983aa;
}

.component-navbar-selected {
  border-bottom: 5px solid #6983aa;
}

.component-navbar-selected::before,
.component-navbar-selected::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

.component-navbar-selected::before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

.component-navbar-selected::after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

.component-navbar-selected::before {
  background-color: #6983aa;
}

.component-navbar-selected::after {
  background-color: #8566aa;
}

.component-navbar-selected::before,
.component-navbar-selected::after {
  transform: scale(1);
}
