.component-button-TagButton-category {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu';
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 10px;
  color: #f4f4f4;
  font-weight: bold;
  background-color: #6983aa;
  box-shadow: 0px 5px 5px #8566aa;
  transition: all 0.5s;
  min-width: 25px;
  margin: 1px;
  margin-bottom: 15px;
}

.component-button-TagButton-button-color {
  border: 2px solid #6983aa;
}

.component-button-TagButton-button-danger {
  border: 2px solid #db7047;
}

.component-button-TagButton-category::after {
  font-weight: 400;
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}
/*
.component-button-TagButton-category:hover {
  transition: all 0.5s;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
  color: black;
}
*/
.component-button-TagButton-category-color:hover {
  background: #8ec6c5;
  box-shadow: 0px 6px 15px #6983aa;
}

.component-button-TagButton-category-danger:hover {
  background: #f77847;
  box-shadow: 0px 6px 15px #6983aa;
}

.component-button-TagButton-category:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: black;
}




.component-button-TagButton-tag {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu';
  font-size: 15px;
  cursor: pointer;
  margin: 5px 2px;
  color: black;
  background-color: #f4f4f4;
  box-shadow: 0px 2px 2px #8566aa;
  border-radius: 10px;
  transition: all 0.5s;
  min-width: 10px;
  padding: 3px 3px;
}

.component-button-TagButton-tag::after {
  font-weight: 100;
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.component-button-TagButton-tag:hover {
  transition: all 0.5s;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
  color: black;
}

.component-button-TagButton-tag-color:hover {
  background: #8ec6c5;
  box-shadow: 0px 6px 15px #6983aa;
}

.component-button-TagButton-tag-danger:hover {
  background: #f77847;
  box-shadow: 0px 6px 15px #6983aa;
}

.component-button-TagButton-tag:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: black;
}
