* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-container {
  margin: 50px;
}

.homemate-title {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #8566aa;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  text-align: justify;
}

.about-side {
  max-width: 50%;
}

.about-title {
  margin: 0px 30px 30px 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #8566aa;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: #6983aa;
}

.about-text {
  filter: drop-shadow(0 1em 1em rgba(#000, 0.16));
  font-size: 1rem;
  max-width: 25em;
  padding: 2em 2.4em;
  position: relative;
  transform: translateZ(0);
  color: #6983aa;
}

.about-inner {
  background-image: linear-gradient(0deg, #ddd, #000), linear-gradient(0deg, #f4f4f4, #f4f4f4);
  background-size: 0 2px, 0 100%;
  background-position: 8px calc(1em + 8px), 0 0;
  background-repeat: no-repeat;
  box-decoration-break: clone;
  display: inline;
  padding: 6px 8px;
  margin-left: -8px;
  pointer-events: none;
  line-height: 1.75;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff;
  transition: background ease-out 1500ms;
}

.about-text:hover > .about-inner {
  background-size: calc(100% - 16px) 2px, 100% 100%;
  transition-duration: 200ms;
}

.members-side {
  max-width: 50%;
}

.members-title {
  margin: 0px 30px 30px 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #8566aa;
}

.members-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 50px;
}

.members-img img {
  margin: 10px 20px;
}
