.components-inputTag-tag {
  display: inline-flex;
  align-items: center;
  margin: 5px 5px;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.components-inputTag-font {
  font-weight: bold;
}
