.component-button-logout-button {
  background-color: #8566aa;
  text-align: center;
  color: #f4f4f4;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
}

.component-button-logout-button:hover {
  color: #f4f4f4;
  background-color: #9481aa;
}