.file-uploader-button {
  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #f4f4f4;
  color: #f4f4f4;
  border-radius: 4px;
  text-align: center;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.file-uploader-button:hover {
  background-color: #f4f4f4;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #6983aa;
}

.file-uploader-icon-button {
  border: none;
  background-color: transparent;
}
