.component-loading-loader {
    animation:spin 1s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color: #8566aa;
    border-top-color:#8566aa;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
  }
  
.component-loading-loader::before{
  animation:spin 2s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:#6983aa;
  border-top-color:#6983aa;
  box-sizing:border-box;
  content:"";
  height:16vmin;
  left:0;
  position:absolute;
  top:0;
  width:16vmin;
}
  
.component-loading-loader::after{
  animation:spin 3s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:#8ec6c5;
  border-top-color:#8ec6c5;
  box-sizing:border-box;
  content:"";
  height:12vmin;
  left:2vmin;
  position:absolute;
  top:2vmin;
  width:12vmin;
}
  
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}