@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
}
.component-show-profile{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 550px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.component-show-profile-left{
  width: 40%;
  background: linear-gradient(to right,#8ec6c5,#52c4a3);
  padding: 30px 25px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}
.component-show-profile-left img{
  border-radius: 5px;
}
.component-show-profile-left h4{
  margin-bottom: 10px;
}
.component-show-profile-left p{
  margin-top: 10px;
}
.component-show-profile-right{
  width: 65%;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.component-show-profile-info{
  margin-bottom: 25px;
}
.component-show-profile-info h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #8566aa;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.component-show-profile-info-data{
  display: flex;
  justify-content: space-between;
}
.component-show-profile-data{
  width: 45%;
}
.component-show-profile-data h4{
  color: #8566aa;
  margin-bottom: 5px;
}
.component-show-profile-data span{
  font-size: 12px;
  margin-bottom: 10px;
  color: #919aa3
}