.component-image-input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu';
    font-size: 20px;
    cursor: pointer;
    margin: 30px 0px;
    padding: 10px 25px;
    color: black;
    background-color: #f4f4f4;
    box-shadow: 0px 3px 7px #8566aa;
    border-radius: 10px;
    transition: all 0.5s;
    min-width: 200px;
    border: 2px solid #6983aa;
  }
  